# Cache Symfony
/var/cache/*
!var/cache/.gitkeep

# Logs Symfony
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
###< symfony/framework-bundle ###