{% extends 'layout.html' %}

{% block content %}
     <div class="row">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Título</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Capítulo</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Subcapítulo</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Párrafo</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <div class="col-md-8">
            <input id="fname" name="titulo" type="text" placeholder="Título" class="form-control">
        </div>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="col-md-10">
            <input id="fname" name="capitulo" type="text" placeholder="Capítulo" class="form-control">
        </div>
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
       <div class="col-md-10">
            <input id="fname" name="subcapitulo" type="text" placeholder="Subcapítulo" class="form-control">
        </div>
      </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        <div class="col-md-10">
          <textarea class="form-control" id="message" name="message" placeholder="Descripción" rows="7"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

    
{% endblock %}